
.mainContent {
    composes: paddingTop from '/src/UI/sharedStyles.css';
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    flex-grow: 1;
    grid-auto-rows: max-content;
}

.card {}
.card__image {
    width: 100%;
    margin-bottom: 12px;
}

.card__title {
    font-family: Gilroy-600;
    font-size: 24px;
    margin-bottom: 4px;
    color: #1A3445;
}

.card__description {
    font-size: 16px;
    color: #7D8C93;
}