.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

:global(.projectPage) .stack h1,
:global(.projectPage) .stack p {
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.banner {
    grid-column: 1 / -1;
}

@media (max-width: 768px) {
    .grid {
        gap: 8px;
    }
}

@media (max-width: 478px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
