#movie-mate:hover #movie-mate-images::after {
    background-color: #4E3964;
    width: 265px;
    height: 265px;
    filter: blur(83px);
}

#movie-mate:hover #movie-item {
    transform: scale(1.1);
    filter: brightness(1.1);
}