.wrapper {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
}

.wrapperInnerPage {
    padding-left: calc(50% - calc(976px / 2));
    padding-right: calc(50% - calc(976px / 2));
}

.blueText {
    color: var(--color-accent);
}

.paddingTop {
    /* header больше не fixed, это просто отступ от него до контента */
    padding-top: 40px;
}

@media (max-width: 1024px)  {
    .wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }

    .wrapperInnerPage {
        padding-left: 32px;
        padding-right: 32px;
    }

    .paddingTop {
        padding-top: 20px;
    }
}

@media (max-width: 478px)  {
    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }

    .wrapperInnerPage {
        padding-left: 16px;
        padding-right: 16px;
    }
}