.wrapper {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
}

.wrapper-inner-page {
    padding-left: calc(50% - calc(976px / 2));
    padding-right: calc(50% - calc(976px / 2));
}

.blueText {
    color: #5790B4;
}

.paddingTop {
    padding-top: calc(40px + 79px); /* margin + высота header */
}