.button {
    width: max-content;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .3s all;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
}

.button.primary {
    background-color: var(--color-accent);
    color: white;
    border: 1px solid transparent;
}

.button.primary:hover {
    background-color: var(--color-accent-dark);
}
.button.primary:active {
    background-color: var(--color-accent-dark);
}

.button.secondary {
    background-color: transparent;
    color: #1A3445;
    border: 1px solid #1A3445;
}

.button.secondary:hover {
    background-color: #1A3445;
    color: white;
}
.button.secondary:active {
    background-color: #1A3445;
    color: white;
}