.about {
    max-width: 392px;
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 20px); /* Это отступ header + отступ кнопки */
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    position: relative;
    max-width: 280px;
    display: block;
    margin-bottom: 22px;
}

.wrapperAvatar {
    position: relative;
}

.wrapperAvatar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/image/elements.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.about__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.about__title {
    font-size: 28px;
    font-family: 'Gilroy-600';
}

.about__description {

}

.about__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
}

.about__link {
    composes: blueText from '/src/UI/sharedStyles.module.css';
    text-decoration: underline;
}
.about__btn {

}

@media (max-width: 1024px) {
    .about {
        max-width: 298px;
    }
    .about__title {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .about {
        max-width: 336px;
    }
}

@media (max-width: 478px) {
    .about {
        position: static;
        max-width: initial;
        height: initial;
    }
    .about__wrapper {
        margin-bottom: 20px;
    }
}