.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.header__name {
    font-size: 20px;
    font-family: 'Gilroy-600';
    text-decoration: none;
    color: #1A3445;
}

.mobileBtn {
    display: none;
}

@media (max-width: 478px) {
    .desktopBtn {
        display: none;
    }

    .mobileBtn {
        display: block;
    }
    .header {
        top: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    body:active .header,
    body:focus-within .header {
        transform: translateY(0);
    }
}