.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: transparent;
    width: 100%;
}

.header__logo {
    display: block;
    height: 56px;
}

.header__logo img {
    display: block;
    height: 100%;
    width: auto;
}

@media (max-width: 478px) {
    .header {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .header__logo {
        height: 36px;
    }
}