.goHome {
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: #1A3445;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    margin-top: 20px;
}

.footer__linkBox {
    display: flex;
    gap: 8px;
}

.footer__link {
    composes: blueText from '/src/UI/sharedStyles.module.css';
    text-decoration: underline;
    font-size: 18px;
}

.footer__arr {
    width: inherit;
}

@media (max-width: 670px) {
    .footer {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

@media (max-width: 420px) {
    .footer__link {
        font-size: 14px;
    }
}