@font-face {
  font-family: 'Gilroy-700';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold'), url('/fonts/Gilroy-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-800';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Heavy'), url('/fonts/Gilroy-Heavy.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-100';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Light'), url('/fonts/Gilroy-Light.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-600';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Medium'), url('/fonts/Gilroy-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-400';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular'), url('/fonts/Gilroy-Regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-400', 'arial';
  color: #1A3445;
}

* {
  box-sizing: border-box;
}

button, input, a {
  font-family: 'Gilroy-400', 'arial';
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
