.header {
    composes: wrapper from '/src/UI/sharedStyles.css';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.header__name {
    font-size: 20px;
    font-family: 'Gilroy-600';
    text-decoration: none;
    color: #1A3445;
}