.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

g, path, circle {
    transition: .3s all;
}

.image-hackwish {
    opacity: 0.6;
}

.green-hackwish {
    fill: #C691FF;
}

.yellow-hackwish {
    fill: #C691FF;
}

.red-hackwish {
    fill: #4A1980;
}

.cherry-hackwish {
    fill: #6F32B1;
}

.white-hackwish {
    fill: #7F3AC9;
}